@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none; /* For Firefox */
}

@font-face {
  font-family: 'cicular-std';
  src: url('./assets/circular-std-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
